body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    background-color: rgba(50, 50, 50, 1);
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    background-image: url('background.png');
}

.elements {
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
